// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Atwater Colors
//

$black: #000;
$white: #FFF;
$grey20: #333;
$grey65: #A6A6A6;
$lightgrey: #C8C8C8;
$desert-storm: #F2ECE5;

//
// Overrides
//
$body-color: 	$black;
$primary: 		$black;
$yiq-text-dark: $black;
$brand-primary: $black;
$gray: 			$lightgrey;
$gray-dark: 	$grey65;

